/elpa
/elpa-*
/ido.last
/auto-save-list
/ac-comphist.dat
/saved_desktops
.mc-lists.el
/recentf
/misc
settings.el
desktops
projectile-bookmarks.eld
network-security.data
.emacs.desktop
.emacs.desktop.lock
